@use 'Styles/utilities' as *;

.footer {
  width: 100%;
  height: 191px;
  background: $DarkBlue;
  padding: 48px 106px;

  display: flex;
  justify-content: space-between;

  &__container {
    display: flex;
    gap: 131px;

    &__social-nav {
      width: 154px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__container {
        display: flex;
        justify-content: space-between;

        svg:hover {
          animation: socialRotate 0.5s ease-in-out forwards;
          cursor: pointer;
        }

        path {
          transition: 0.5s ease-in-out fill;
        }

        svg:hover path {
          fill: $LimeGreen;
        }
      }
    }

    &__nav-links {
      width: 283px;
      display: grid;
      grid-template: repeat(3, 26px) / 1fr 1fr;
      row-gap: 8px;

      &_anchor {
        font-size: 15px;
        color: $White;
        letter-spacing: -0.234px;
        width: max-content;
        transition: 0.5s ease-in-out color;

        @media (hover: hover) {
          &:hover {
            color: $LimeGreen;
          }
        }
      }
    }
  }

  &__copyright-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 24px;
    justify-self: end;

    &_text {
      color: $White;
      text-align: right;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: -0.234px;
      opacity: 0.5;
    }
  }
}
