@use 'Styles/utilities' as *;

.key-features-container {
    width: 100%;
    min-height: 676px;
    background-color: $LightGrayishBlue;
    padding: 96px 106px 94px 106px;

    display: flex;
    flex-direction: column;
    gap: 72px;


    &__intro-container {
        width: max-content;
        display: flex;
        flex-flow: column;
        gap: 16px;
    }


    &__key-features {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__key-feature {
            max-width: 255px;
            display: grid;
            gap: 26px;


            svg {
                margin-bottom: 12px;
            }
        }
    }
}


@include breakpoint(lg) {
    .key-features-container {
        padding: 64px 24px;
        gap: 56px;
        align-items: center;

        &__intro-container {
            text-align: center;
        }

        &__key-features {
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr;
            gap: 30px;

            &__key-feature {
                gap: 16px; 
                text-align: center;

                
                svg {
                    margin-bottom: 8px;
                    margin: auto;
                }
            }
        }

    }
}