
/* Animations */

@keyframes socialRotate {
    0% {
        transform: rotate(0);
    }
    40% {
        transform: rotate(20deg);
    }

    80% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0);
    }
}