/* Colors */

$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);
$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$LightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

/* Font */

$font-primary: 'Public Sans', sans-serif;

/* Media query breakpoints */

$breakpoints: (
    "sm": 375px,
    "md": 768px,
    "lg": 1068px,
);


    
